*{
	margin: 0;
	padding: 0;
}
em,i{
	font-style: normal;
}
.fr{
	float: right;
}
.mt15{
	margin-top: 15px;
}
.mr30{
	margin-right: 30px;
}
.ml30{
	margin-left: 30px;
}
.clear{
	clear: both;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}